<nav>
	<ul>
		<li><%= link_to "Bands", groups_path %></li>
		<li><%= link_to "Events", events_path %></li>
		<li><%= link_to "Venues", venues_path %></li>
		<li><%= link_to "Create Venue", new_venue_path %></li>
		<li><%= link_to "Add Band", new_group_path %></li>
		<li><%= link_to "Create Event", new_event_path%></li>
		<li><%= link_to "Search Events by Date", search_path%></li>
	</ul>
</nav>