	<style>
	body{
		background: url("https://cmgajcmusic.files.wordpress.com/2015/03/rolling-stones.jpg") no-repeat center center fixed;
	 /* -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;*/
	
	}
	#frame{
		margin: auto;
		width: 500px;
		/*border: 1px solid white;*/
		margin-top: 100px;
		list-style-position: inside;
	}

.btn-custom {
  background-color: hsl(215, 4%, 56%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#8a8e93");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#8a8e93));
  background-image: -moz-linear-gradient(top, #ffffff, #8a8e93);
  background-image: -ms-linear-gradient(top, #ffffff, #8a8e93);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #8a8e93));
  background-image: -webkit-linear-gradient(top, #ffffff, #8a8e93);
  background-image: -o-linear-gradient(top, #ffffff, #8a8e93);
  background-image: linear-gradient(#ffffff, #8a8e93);
  border-color: #8a8e93 #8a8e93 hsl(215, 4%, 45%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.72);
  -webkit-font-smoothing: antialiased;
}
span{
	color: grey;
}
#contents{
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
	padding-top: 2px;
	padding-bottom: .5px;
}
.box{
	text-align: center;
}

#inner{
	width:95%;
	background-color: rgba(192, 192, 192, 0.5);
	margin: 6px auto;
  padding-top: 1px;
}

img{
	width: 150px;
	height: 150px;
}
.row{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.text{
	padding-top: 25px;
}

.button {
	font-size: 30px;
	color: white;
}
h4{
	color: grey;
}

</style>




<div id ="frame">
	<div id="contents">
		<div id= "inner">
			<h2> Edit: <%= @group.name%></h2>
		</div>

		<div id="inner">
			<%= form_for @group do |f|%>
				<h4><%= f.text_field :name, placeholder: 'band name'%></h4>
				<h4><%= f.text_field :genre, placeholder: 'genre'%></h4>
				<h4><%= f.text_field :explicit_lyric, placeholder: 'explicit_lyric true or false'%></h4>
				<span><%= f.submit%>	</span>

			<% end  %>
			
		</div>

	

	</div>
