<h2> Band: <%= @group.name%></h2>
<h4>Genre: <%= @group.genre%></h4>
<h4>Explicit lyrics: <%= @group.explicit_lyric%></h4>
<%= link_to 'Edit this information', edit_group_path%>
<%= form_for @group, url:{action: 'destroy'}, method: :delete do |f|%>
<%= f.button 'Delete'%>
<%end%>
<%@group.events.each do |event| %>
	<%= event.date%></br>
	<%= event.venue.name%>
<%end%>
