<%= form_for @event do |f| %>

<%= f.date_field(:date) %> </br>
    <%= f.text_field :alcohol_served, placeholder: 'Alcohol Served?' %><br>


<span><%= f.collection_select :venue_id, Venue.all, :id, :name %></span></br>

<%= f.collection_select :group_id, Group.all, :id, :name %></br>

    <%= f.submit %>
<% end %>


