<h1>Create a New Venue</h1>

<%= form_for @venue do |f| %>
	<%= f.text_field :name, placeholder: "Name" %> <br>
	<%= f.text_field :city, placeholder: "City" %> <br>
	<%= f.text_field :state, placeholder: "State" %> <br>
	<%= f.label :family_friendly, "Family Friendly?" %>
	<%= f.check_box :family_friendly %> <br>
	<%= f.submit %>
<% end %>