<h1><%= link_to @venue.name, edit_venue_path %></h1>
<h3><%= @venue.city %>, <%= @venue.state %></h3>

<% if @venue.family_friendly %>
	<p style='color:blue'>It's Family Friendly!</p>
<% else %>
	<p style='color:red'>Caution: NOT Family Friendly!</p>
<% end %>

<br><br>

<hr>
<%= link_to "Create New Event", venue_path+'/newevent' %> <br>

<% if @venue.events.length > 0 %>
	<h2>Events:</h2>

	<% @venue.events.each do |event| %>

		<h3>Date: <%= link_to event.date, event_path(event.id) %></h3>

		<h4>Performed by: <%= link_to event.group.name, group_path(event.group.id) %></h4>
		<% if event.alcohol_served %>
			<p>Alcohol Available</p>
		<% else %>
			<p>Alcohol Not Available</p>
		<% end %>
		<hr>
	<% end %>
<% else %>
	<h2>There are no Scheduled Events</h2>
<% end %>

<br><br><br>
<%= link_to "Delete Venue", venue_path, method: :delete %>
